<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Editar Cidade</title>
</head>

<body>
<div layout:fragment="conteudo">
    <div class="dark-bg max-height">

        <div class="container-fluid">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 mt-5">
                    <div class="p-4 rounded shadow bg-body-tertiary ">
                        <h1>Editar Cidade</h1>
                        <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <span th:text="${mensagem}"></span>
                        </div>
                        <form action="#" th:action="@{/cidades/{id}(id=${cidade.id})}" th:object="${cidade}" method="post">
                            <input type="hidden" name="_method" value="put">

                            <label for="nome">Nome:</label>
                            <input class="form-control mb-3" type="text" name="nome" id="nome"
                                   placeholder="Nome da cidade" th:field="*{nome}">
                            <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

                            <label for="estado">Estado:</label>
                            <input class="form-control mb-3" type="text" name="estado" id="estado"
                                   placeholder="Nome do estado" th:field="*{estado}">
                            <span class="mensagem" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>

                            <div>
                                <input class="btn btn-lg btn-success" type="submit" value="Cadastrar">
                                <input class="btn btn-lg btn-danger" type="reset" value="Limpar">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>