<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="bg-img">
        <div class="d-flex flex-column justify-content-center align-items-center blur max-height">
            <h1 class="fs-1 display- text-light">EventMaster</h1>
            <h2 class="h2 text-light">Bem vindo!</h2>
        </div>
    </div>
</div>
</body>
</html>